body {
  background-color: #232323;
  color: whitesmoke;
  text-align: center;
}

.box {
  color: whitesmoke;
  background-color: #6f389f;
  font-size: 12px !important;
  border-radius: 30px 10px 30px 0px;
  cursor: pointer;
  transition: all 0.3s ease-out !important;
}
.box:hover {
  color: whitesmoke;
  transform: scale(1.1);
  background-color: #232323;
  text-decoration: none;
  border-right: 3px solid #696969;
  border-bottom: 3px solid #696969;
}

.leftLinks,
.rightLinks {
  position: fixed;
  top: 45%;
  background-color: #6f389f;
  height: 110px;
  width: 50px;
}
.leftLinks {
  border-radius: 10px 10px 10px 0px;
  left: 0;
}
.rightLinks {
  border-radius: 10px 10px 0px 10px;
  right: 0;
}
.leftLinks a,
.rightLinks a {
  color: whitesmoke;
  font-size: 36px;
}
.bottomLinks {
  position: fixed;
  left: 35%;
  bottom: 0;
  font-size: 46px;
  border-radius: 20px 8px 20px 0px;
  background-color: #6f389f;
  height: 75px;
  width: 30%;
}
.bottomLinks a {
  transition: all 0.2s ease-in;
  color: whitesmoke;
}
.bottomLinks a:hover {
  color: #232323;
  text-decoration: none;
}
