body {
  background: rgb(111, 56, 159);
  background: linear-gradient(
    135deg,
    rgba(111, 56, 159, 1) 0%,
    rgba(35, 35, 35, 1) 50%
  );
  color: whitesmoke;
  text-align: center;
  overflow-y: hidden;
}

.header {
  margin-top: 30px;
}

.logo {
  width: 100%;
  margin-bottom: 10px;
  -webkit-animation: spin 5s linear infinite;
  -moz-animation: spin 5s linear infinite;
  animation: spin 5s linear infinite;
}
@media (min-width: 800px) {
  .logo {
    width: 180px;
  }
}

.box {
  background-color: #6f389f;
  border-radius: 10px;
  color: whitesmoke;
}

.bottomLinks {
  position: fixed;
  left: 10%;
  bottom: 0;
  font-size: 22px;
  border-radius: 10px 10px 0px 0px;
  background-color: #6f389f;
  height: 40px;
  width: 80%;
}
.bottomLinks a {
  transition: all 0.2s ease-in;
  color: whitesmoke;
}
.bottomLinks a:hover {
  color: #232323;
  text-decoration: none;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
